.post{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    /* border: 1px solid red; */
    padding: 15px;
    margin-block: 25px;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 10px;
    max-width: 880px;
    margin: 0 auto;
    margin-top: 34px;
    overflow-y: clip;
    min-height: 185px;
}
.post-id-wrapper{
    margin-bottom: 20px;
    height: 80vh;

}
.post__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.post__title-row{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.post__title{
    color: #366EFF;
}
.title__row{
    display: flex;
    column-gap: 13px;
}
.post__like button{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.tag__row{
    display: flex;
    column-gap: 5px;

}
.tag__item{
    border: 1px solid black;
    padding: 3px;
}
.post__body{
    max-width: 670px;
    text-align: left;
}
.post__user-row{
    display: flex;
    min-width: 140px;
    align-items: center;
    column-gap: 14px;
    position: relative;
}
.pageid{
    display: flex;
    flex-direction: column;
    & .user-row-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;
    }
    & .btns-row{
        display: flex;
        align-self: center;
        justify-content: space-between;
        column-gap: 55px;
        margin-top: 30px;
        & button{
            padding: 6px 30px;
            border-radius: 5px;
        }
    }
}
.red-btn{
    color: red;
    border: 1px solid red;
    
}
.green-btn{
    color: green;
    border: 1px solid green;
    padding: 6px 30px;
            border-radius: 5px;
            display: block;

}
.delete-modal{
    padding: 12px 16px;
    box-shadow: 5px 5px 5px 5px gray;
    position: absolute;
    bottom: -65px;
    right: -115px;
    z-index: 5;
    background-color: #fff;
    & p{
        position: relative;
    
        padding-left: 24px;
        max-width: 208px;
        text-align: left;
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            aspect-ratio: 1;
            background-image: url('./Vector.svg');
        }
    }
    & .modal-btn-row{
        display: flex;
        column-gap: 8px;
        justify-self: end;
        & button{
            padding: 3px 8px;
            border-radius: 5px;
        }
    }
}
.btn-grey{
    border: 1px solid grey;
}
.btn-blue{
    border: 1px solid #1890FF;
    background-color: #1890FF;
    color: white;
    display: block;
    
}
.delete-modal-hide{
    display: none;
}
@media(max-width:750px){
    .tag__row{
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .post__user-row{
        img{
            max-width: 50%;
        }
    }
    .tag__item{
        font-size: 10px;
    }
    .delete-modal{
        bottom: -110px;
        right: 0px;
    }
}