pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    background-color: inherit;
    padding: 16px;
    border-radius: 8px;
    /* border: 1px solid #ddd; */
  }
  
code {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
  }
.markdown-body{
    margin-top: 50px;
    text-align: left;
    max-width: 880px;
}